body {
	background: black;
}

*{
	margin: 0;
}

body {
	background: #999999;
}

header h1 {
	background: yellow;
	text-align: right;
}

nav ul {
	background: green;
	padding: 10px;
}

nav li {
	background: black;
	text-decoration: none;
	display: inline;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

aside {
	background: white url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat;
	background-size: contain;
	background-position: bottom;
	text-align: left;
	/*list-style-position: inside;*/
	list-style-type: disc;
	display: inline-block;
	height: 345px;
	padding: 30px;
	position: absolute;
	right: 0px;
	width: 10%;
	text-align: center
}

#content {
	background: #4F5E4F;
	display: inline-block;
	width: 86%;
	height: 357px;
}

#content ul {
	list-style-type: none;
	text-align: center;
}

footer {
	background: green;
	padding: 15px;
}

