@media only screen and (max-device-width: 667px) {
	#logo {
		 text-align: center;
		 padding-top: 25px;
		 padding-bottom: 25px;
	}
	body {
		background-image: none;
	}
	nav ul{
		margin:0;
	    padding:0;
	    display: block;
	    text-align:center;
	}
	nav ul li{
		display: block;
	}
	nav ul li a {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		outline: 3px solid white;
		background-color: #D3D3D3;
		text-decoration: none;
		color: white;
		display: block;
		padding: 25px;
	}
	nav ul li a:hover {
		color: red;
	}
	#typewriter {
		display: none;
	}
	.bio h2 {
		text-align: center;
	}
	.bio {
		padding-left: 10px;
		padding-right: 10px;
	}
	
}

@media only screen and (min-width: 667px) {
	#logo {
  padding:20px;
  display: inline-block;
  float: left;
}

	nav {
	  font-size: 105%;
	  display: inline;
	  padding-left: 50px;
	  padding-right: 50px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  display: inline-block;
	  float: right;
	}

	nav ul {
	  display: inline-block;
	  float: right;
	  padding-top: 10px;
	  padding-bottom: 50px;
	}

	nav li {
	  text-decoration: none;
	  display: inline;
	  padding-left: 50px;
	  padding-right: 50px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	nav ul li a {
	  text-decoration: none;
	  color: black;
	  font-family: 'Montserrat', sans-serif;
	}

	nav ul li a:hover {
	  outline-style: solid;
	  outline-offset: 15px;
	  outline-color: black;
	  outline-width: thin;
	}
	
	}