#logo {
  padding:20px;
  display: inline-block;
}

#typewriter {
  text-align: center;
}

nav {
  font-size: 100%;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  display: inline-block;
  float: right;
}

nav li {
  text-decoration: none;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover {
  color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  font-family: 'Quicksand',sans-serif;
  padding: 100px;
  font-size: 15px;
  text-align: center;
}

#zorm {

}


.bio h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.bio {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Montserrat",sans-serif;
  color: gray;
  line-height: 1.5;
}

#typewriter {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}




